.profilePicMin {
    height: 55px;
    opacity: 0;
    border-radius: 55px;
}
.profilePicMinShown{
    position: relative;
    height: 53px;
    margin: 2px 0 2px 2px;
    border-radius:53px;
    opacity: 1;

}
mainBody {
    position: relative;
}
.profilePicMax {
    position: relative;
    top: -130px;
    display: block;
    height: 250px;
    width: 250px;
    border: 2px solid #f5f5f5;
    border-radius: 250px;
    margin: 0 auto;
}
.nameHeader {
    height: 49.75%;
    background-color: #286da8;
}
.nameHeaderMin {
    height: 55px;
    background-color: #286da8;
    position: fixed;
    top: 0;
    width: 100%;
}
.bottomBorderHidden {
    background-color: #cd5360;
    margin: 0;
    width: 100%;
}
.bottomBorderFixed {
    position:fixed;
    top:0;
    width: 100%;
    z-index: 1;
}
.bottomBorder {
    height: 44.75%;
    background-color: #cd5360;
}
.bottomBorderMin {
    position: fixed;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 55px;
    border: 2px solid #f5f5f5;
    z-index: -1;
}
.name {
    position: relative;
    top: 50%;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 40px;
    color: #f5f5f5;
}
.nameFixedMin {
    position: absolute;
    color: #f5f5f5;
    top: 5px;
    left: 75px;
    opacity: 0;
    font-size: 40px;
}
.nameFixedMinShown {
    position: absolute;
    top: 5px;
    left: 75px;
    color: #f5f5f5;
    opacity: 1;
    font-size: 45px;
}
.jobTitle{
    position: relative;
    top: -110px;
    font-size: 40px;
    text-align: center;
    color: #f5f5f5;
}
.border {
    height: .5%;
    background-color: #f5f5f5;
}
.nav {
    width: 100%;
    background-color: grey;
}
.navFixed {
    position: fixed;
    top: 55px;
    margin: 0;
    width: 100%;
    background-color: grey;
    z-index: 1;
}
.navLink {
	display: inline-block;
	margin:0;
	text-decoration: none;
	height: 54px;
	width: 125px;
	color: #f5f5f5;
    font-size: 1.25em;
}
.navLinkSelected {
	display: inline-block;
	margin:0;
	text-decoration: none;
	height: 54px;
	width: 125px;
	color: #f5f5f5;
    font-size: 1.25em;
    text-decoration: underline;
}
.navButton {
	display: inline-block;	
	line-height: 50px;
	height: 54px;
	width: 125px;	
	text-align: center;
	display: inline-block;
    text-decoration: none;    
}
.navButton:hover {
    display: inline-block;	
	line-height: 50px;
	height: 54px;
	width: 125px;	
	text-align: center;
	display: inline-block;
    text-decoration: none;    
    background-color: #6a6a6b;
}
.headerSection {
    width: 100%;
}
.sectionHeader {
    margin: 80px 25% 0 25%;
    width: 50%;
    padding: 80px 0 0 0;
    font-size: 35px;
    text-align: center;
}
.aboutMe {
    display: block;
    margin: 0 auto;
    width: 700px;
    font-size: 35px;
    height: 750px;
    border: 2px black solid;
    background-color: #f5f5f5;
}
.aboutMeMargin {
    margin: 190px 25% 0 25%;
    width: 50%;
    font-size: 35px;
}
.projectLink {
    float: left;
    margin: 15px 39px;
    background-color: grey;
}
.thumbnailLink {
    height: 45px;
    width: 45px;
    float: left;
    margin: 0 2px;
    background-color: grey;
}
.projectImage {
    width: 250px;
    height: 250px;
    border: 2px solid black;
}
.projectDiv {
    display: block;
    margin: 0 auto 100px auto;
    width: 1000px;
    overflow: hidden;
    border: 2px solid black;
}
#aboutMePic {
    float: left;
    height: 250px;
    margin: 25px 25px 10px 25px;
    width: 200px;
}
.aboutMeText {
    margin: 25px;
    font-size: 20px;
}
.contactSmall {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 25px;
}
#content {
    font-size: 13.3333px;
    font-family: Arial;
    height: 150px;
}
#send_email {
    display: block;
    margin: 10px auto 200px auto;
    height: 40px;
}
#contact {
    text-align: center;
}
.footer {
    border-top: 10px solid #cd5360;
    height: 154px;
    width: 100%;
    background-color: grey;
    color: white;
}
.copyrightText {
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}
.contactSection {
    width: 100%;
    margin-top: 55px;
    display: block;
}
.thumbnail {
    height: 45px;
    width: 45px;
    margin: 2px
}
.leftFooter {
    height: 154px;
    float: left;
    width: 33%
}
.rightFooter {
    float: right;
    width: 33%;
    height: 154px;
}
.middleFooter {
    float: left;
    width: 33%;
    height: 154px;
}
.logoDiv {
    display: block;
    margin:50px auto 0 auto;
    width: 200px;
    height: 100px;
}
.logo {
    display: block;
    height: 125px;
    width: 125px;
    margin: 12px auto;
}
@media only screen and (max-width: 980px) {
    .copyrightText {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1080px) and (min-width: 801px) {
    .projectDiv {
        width: 750px;       
    }
    .projectLink {
        margin: 10px 60px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 641px) {
    .projectDiv {
        width: 485px;
    }
    .projectLink {
        margin: 15px 115px
    }
}
@media only screen and (max-width: 320px) {
    .profilePicMax {
        height: 400px;
        width: 400px;
        top: -208px;   
    }
    .projectDiv {
        width: 485px;
    }
    .projectLink {
        margin: 15px 115px
    }
}