html {
    font-family: 'Noto Sans', sans-serif;
}
.profilePicMin {
    height: 55px;
    opacity: 0;
    border-radius: 55px;
}
.profilePicMinShown{
    position: relative;
    height: 53px;
    margin: 2px 0 2px 2px;
    border-radius:53px;
    opacity: 1;

}
mainBody {
    position: relative;
}
.profilePicMax {
    position: relative;
    top: -130px;
    display: block;
    height: 250px;
    width: 250px;
    border: 2px solid #f5f5f5;
    border-radius: 250px;
    margin: 0 auto;
}
.nameHeader {
    height: 47.25%;
    background-color: #286da8;
}
.nameHeaderMin {
    height: 55px;
    background-color: #286da8;
    position: fixed;
    top: 0;
    width: 100%;
}
.bottomBorderHidden {
    background-color: #cd5360;
    margin: 0;
    width: 100%;
}
.bottomLinkBorder {
    background-color: #cd5360;  
}
.linkDiv {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 100%;
}
.linkDivHidden {
    opacity: 0;
    margin: 0;
    height: 0;
    width: 0;
}
.bottomBorderFixed {
    position:fixed;
    top:0;
    height: 55px;
    width: 100%;
    z-index: 1;
}
.bottomBorder {
    /* height: 44.75%; */
    height: 20%;
    background-color: #cd5360;
}
.bottomBorderMin {
    position: fixed;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 55px;
    border: 2px solid #f5f5f5;
    z-index: -1;
}
.name {
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 40px;
    color: #f5f5f5;
}
.nameFixedMin {
    position: absolute;
    color: #f5f5f5;
    top: 5px;
    left: 75px;
    opacity: 0;
    font-size: 40px;
}
.nameFixedMinShown {
    position: absolute;
    top: 5px;
    left: 75px;
    color: #f5f5f5;
    opacity: 1;
    font-size: 45px;
}
.jobTitle{
    position: relative;
    font-size: 40px;
    text-align: center;
    color: #f5f5f5;
}
.border {
    height: .5%;
    background-color: #f5f5f5;
}
.nav {
    height: 55px;
    width: 100%;
    background-color: grey;
}
.navFixed {
    position: fixed;
    height: 55px;
    top: 55px;
    margin: 0;
    width: 100%;
    background-color: grey;
    z-index: 1;
}
.navLink {
	display: inline-block;
	margin:0;
	text-decoration: none;
	height: 54px;
	width: 125px;
	color: #f5f5f5;
    font-size: 1.25em;
}
.navLinkSelected {
	display: inline-block;
	margin:0;
	text-decoration: none;
	height: 54px;
	width: 125px;
	color: #f5f5f5;
    font-size: 1.25em;
    text-decoration: underline;
}
.navButton {
	display: inline-block;	
	line-height: 50px;
	height: 54px;
	width: 125px;	
	text-align: center;
	display: inline-block;
    text-decoration: none;    
}
.navButton:hover {
    display: inline-block;	
	line-height: 50px;
	height: 54px;
	width: 125px;	
	text-align: center;
	display: inline-block;
    text-decoration: none;    
    background-color: #6a6a6b;
}
.headerSection {
    width: 100%;
}
.sectionHeader {
    margin: 80px 25% 0 25%;
    width: 50%;
    padding: 30px 0 40px 0;
    font-size: 35px;
    text-align: center;
}
.aboutMe {
    display: block;
    margin: 0 auto;
    width: 700px;
    font-size: 35px;
    height: 390px;
}
.aboutMeMargin {
    margin: 190px 25% 0 25%;
    width: 50%;
    font-size: 35px;
}
.projectLink {
    float: left;
    margin: 15px 39px;
    background-color: grey;
}
.thumbnailHeader {
    width: 30%;
    float: left;
    margin: 0 2px;
}
.thumbnailHead{
    height: 100%;
    width: 100%;
    float: left;
    margin: 0 2px;
}
.thumbnailLink {
    height: 45px;
    width: 45px;
    float: left;
    margin: 0 2px;
    background-color: grey;
}
.projectItem {
    height: 300px;
}
.projectImage {
    width: 250px;
    height: 250px;
    border: 2px solid black;
}
.projectDiv {
    margin: 0 auto 100px auto;
    width: 90%;

}
.skillsDiv {
    width: 800px;
    display: block;
    margin: 0 auto;
    height: 500px;
}
.skills {
    background-color: #F5F5F5;
}
.contactDiv {
    background-color: #f5f5f5;
    height: 600px;
}
#aboutMePic {
    float: left;
    height: 250px;
    margin: 0 25px 10px 25px;
    width: 200px;
}
.projectHeader {
    margin-top:0;
}
.aboutMeText {
    margin: 25px;
    font-size: 20px;
}
.contactSmall {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 25px;
}
.textHolderLeft {
    float: left;
    width: 500px;
    height: 100%;
    display: table;
}
.textHolderRight {
    width: 500px;
    height: 100%;
    float: right;
    display: table;
}
.sqlImageDiv {
    margin: 5px 10px;
    height: 175px;
    width: 175px;
}
.skillImage {
    height: 175px;
    width: 175px;
    margin: 5px 10px;
}
.sqlImage {
    height: 80%;
    width: 100%;
}
.leftPortfolioText {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.rightPortfolioLink {
    float: right;
    display: block;
    height: 250px;
    width: 290px;
    margin: 25px 0px;
}
.rightPortfolioImage {
    height: 100%;
    width: 100%;
}
.rightPortfolioText {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.leftPortfolioLink {
    float: left;
    display: block;
    height: 250px;
    width: 290px;
    margin: 25px 0px;
}
.leftPortfolioImage {
    height: 100%;
    width: 100%;
}
#content {
    font-size: 13.3333px;
    font-family: Arial;
    height: 150px;
}
#skills {
    font-size: 35px;
}
#send_email {
    display: block;
    margin: 10px auto 200px auto;
    height: 40px;
}
#contact {
    text-align: center;
}
.footer {
    border-top: 10px solid #cd5360;
    height: 154px;
    width: 100%;
    background-color: grey;
    color: white;
}
.copyrightText {
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}
.contactSection {
    width: 100%;
    margin-top: 55px;
    display: block;
}
.thumbnail {
    height: 45px;
    width: 45px;
    margin: 2px
}
.leftFooter {
    height: 154px;
    float: left;
    width: 33%
}
.rightFooter {
    float: right;
    width: 33%;
    height: 154px;
}
.middleFooter {
    float: left;
    width: 33%;
    height: 154px;
}
.logoDiv {
    display: block;
    margin:50px auto 0 auto;
    width: 200px;
    height: 100px;
}
.logo {
    display: block;
    height: 125px;
    width: 125px;
    margin: 12px auto;
}
@media only screen and (max-width: 980px) {
    .copyrightText {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1080px) and (min-width: 801px) {
    /* .projectDiv {
        width: 750px;       
    } */
    .projectLink {
        margin: 10px 60px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 641px) {
    .projectDiv {
        width: 485px;
    }
    .projectLink {
        margin: 15px 115px
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .contactDiv {
        height: 1300px;
    }
    .profilePicMax {
        height: 600px;
        width: 600px;
        top: -312px;
        border-radius: 600px;       
    }
    .name {
        font-size: 80px;
    }
    #aboutMe {
        font-size: 100px;
    }
    .aboutMeText {
        font-size: 30px;
    }
    #projects {
        font-size: 100px;
    }
    .jobTitle {
        font-size: 80px;
    }
    .projectDiv {
        width: 700px;
    }
    .projectLink {
        margin: 15px 221px
    }
    .contactSmall {
        height: 75px;
        width: 85%;
        margin: 15px 7.5%;
        border: 3px solid black;
        font-size: 50px;
    }
    #content {
        height: 450px;
        font-size: 50px;
        width: 85%;
        margin: 15px 7.5%;
        border: 3px solid black;
    }
    #contact {
        font-size: 100px;
    }
    #send_email {
        height: 150px;
        width: 300px;
        margin-top: 100px;
        font-size: 30px;
    }
    .footer {
        height: 700px;
    }
    .leftFooter {
        width: 100%;
        margin: 0 0 32px;
        height: 158.2px;
    }
    .middleFooter {
        width: 100%;
        margin: 0;
        height: 314px; 
    }
    .rightFooter {
        width: 100%;
        margin: 0
    }
    .copyrightText {
        font-size: 35px;
    }
    .logo{
        height: 250px;
        width: 250px;
        padding: 20px 0;
    }
    .logoDiv {
        margin: 32px auto;
        width: 390px;
    }
    .thumbnailLink {
        height: 100px;
        width: 100px;
        margin: 0 15px;
    }
    .thumbnail {
        height: 100px;
        width: 100px;
    }
    .aboutMe {
        height: 682px;
        width: 90%;
    }
    #aboutMePic {
        height: 400px;
        width: 305px;
    }
    .sectionHeader {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    #skills {
        font-size: 100px;
    }
    .leftPortfolioText{
        display: block;
        float: none;
        font-size: 35px;
        width: 100%;
        margin: 20px auto;
        height: 650px;
        padding: 0;
    }
    .rightPortfolioText{
        float: none;
        display: block;
        font-size: 35px;
        width: 100%;
        margin: 20px auto;
        height: 650px;
        padding: 0;
    }
    .leftPortfolioLink{
        float: none;
        display: block;
        width: 80%;
        margin: 20px auto;
        height: 600px;
    }
    .textHolderLeft {
        float: none;
        height: 500px;
        display: block;
        width: 80%;
        margin: 50px auto 100px auto;
    }
    .textHolderRight {
        float: none;
        height: 500px;
        display: block;
        width: 80%;
        margin: 50px auto 100px auto;
    }
    .rightPortfolioLink{
        float: none;
        display: block;
        width: 80%;
        margin: 20px auto;
        height: 600px;
    }
    .projectItem{
        height: 1100px;
    }
}   